{% extends 'AppBundle::page.html.twig' %}
{% block title %}
    {{ parent() }}About
{% endblock %}
{% block content %}
    <h1>Building pools in south west France</h1>
    <h3>As the founder of southwestfrancepools I was doing renovation work in France.</h3>
    <p>From 1995 onwards, building pools in each house as I went, after a few years people started
        asking me to give them quotes for building them pools, so I started getting more and more work in this area I
        decided to move away from complete renovations and head towards the pool building industry, there is not much more satisfying than seeing a family enjoying something that you have built.</p>
    <h3>We cover these areas:</h3>
    <ul>
        <li>
            <h4>Charente</h4>
        </li>
        <li>
            <h4>Aquitaine</h4>
        </li>
        <li>
            <h4>Limousin</h4>
        </li>
        <li>
            <h4>Dordogne</h4>
        </li>
        <li>
            <h4>Haute vienne</h4>
        </li>
        <li>
            <h4>Vienne</h4>
        </li>
        <li>
            <h4>Charente Maritime</h4>
        </li>
        <li>
            <h4>Correze</h4>
        </li>
        <li>
            <h4>Lot</h4>
        </li>
        <li>
            <h4>Indre</h4>
        </li>
    </ul>
    <h2>We cover all grounds here.</h2>
    <h3>Plans, digging, building the pool, building the pump house, laying the patio.</h3>
    <h3>We also cover liner replacement and patio repairs</h3>
    <h3>You will be dealing with southwestfrancepools the whole way.</h3>
    <h4>All you need to do is <a href="{{ path('contact') }}">contact us.</a></h4>


{% endblock %}