{% extends 'AppBundle::page.html.twig' %}
{% block title %}
    {{ parent() }}Contact
{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <div id="contactForm">
        {{ form(form) }}
    </div>
{% endblock %}